* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    height: 150vh;
    width: 100%;
    background-image: linear-gradient(30deg, #dac8b9, rgb(255, 255, 255));
}

.container {
    background: white;
    margin: auto;
    display: grid;
    place-items: center;
    padding: 50px;
    width: 20em;
    border-radius: 3em;
    margin-top: 100px;
}

.account {
    padding: 10px;
}

header {
    font-size: 20px;
}

.email input {
    padding: 15px;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 1em;
    border: 3px solid #dac8b9;
    outline: none;
}

.password input {
    padding: 15px;
    font-size: 15px;
    border-radius: 1em;
    border: 3px solid #dac8b9;
    outline: none;
}

.remember {
    font-size: 13px;
    margin-top: 10px;
}

.remember input {
    cursor: pointer;
    appearance: none;
    border: 2px solid #dac8b9;
    width: 14px;
    height: 14px;
    margin-top: 10px;
}

.remember input:checked {
    border-color: #dac8b9;
    background-image: url(svg/check-solid.svg);
}

.login a {
    justify-content: center;
    padding: 10px;
    background: #dac8b9;
    border-radius: 1em;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.login a:hover {
    background: #c4b3a7;
}

.forgot-password a {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 13px;
    text-decoration: none;
    color: black;
}

.forgot-password a:hover {
    color: #9b8e84;
    font-weight: bold;
}

.create-account {
    font-size: 13px;
    margin-top: 30px;
}

.create-account p {
    margin-left: 10px;
}

.create-account a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: black;
    margin-right: 40px;
    margin-top: 10px;
}

.create-account a:hover {
    color: #9b8e84;
    font-weight: bold;
}